.my-node-enter {
    /*opacity: 0;*/
    opacity: 0;
    transform: scale(0.95);
}
.my-node-enter-active {
    /*opacity: 1;*/
    /*transition: opacity 400ms;*/
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms ease, transform 300ms;
}
.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    /*opacity: 0;*/
    /*transition: opacity 400ms;*/
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 300ms ease, transform 300ms;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 5px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #414548;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #843465;
    border-radius: 10em;
    box-shadow: inset 1px 1px 10px #5b7369;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}

/* Стрелки */
