.my-input {
    border: none;
    border-bottom: 1px solid grey;
    border-radius: 0;
    box-shadow: none;
    padding: 0 0 0 0;
    color: white;
    background: transparent;
}

.my-input:hover {
    color: white;
    background: transparent;
}

.my-input:focus {
    color: white;
    background: transparent;
}

.my-input:active, .my-input:focus {
    outline: none;
}

.my-input::-moz-focus-inner {
    border: 0;
}

.modal-dark {
    border-bottom-color: #343a40;
}

.customCard {
    background: black;
}
